.footer {
    height: 422px;
    background-color: var(--BaseBright);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h2 {
        padding: 16px;
        margin: 8px;
    }
    .left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: left;
        img {
            width: 48px;
            height: auto;
        }
        .impressum {
            a {
                color: var(--grey_white);
            }
        }
    }
    .right {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        a {
            &:hover {
                background-color: var(--Hover);
                color: var(--white);
            }
        }
    }
    a {
        height: fit-content;
        width: fit-content;
        padding: 16px;
        margin: 8px;
        font-size: 16px;
        text-decoration: none;
        color: var(--grey_white);
    }
}