<div class="footer padding">
    <div class="left">
        <div>
            <h2>J.H</h2>
        </div>
        <div>
            <a href="#" target="_blank"><img src="assets/image/Twitter Logo 1.png" alt="logo"></a>
            <a href="#" target="_blank"><img src="assets/image/LinkedIn 1.png" alt="logo"></a>
            <a href="https://github.com/Ephistotelis" target="_blank"><img src="assets/image/github-fill.png" alt="logo"></a>
        </div>
        <div class="impressum"><a href="#" [routerLink]="['impressum']">Impressum</a> - <a href="#" [routerLink]="['legalnotice']">Legalnotice</a></div>
    </div>
    <div class="right">
        <a href="#">Home</a><a href="#">About</a><a href="#">Skills</a><a href="#">Projects</a><a href="#">Technologies</a><a href="#">Contact Me</a>
    </div>
</div>