<div class="midsection padding margin_topbot border_bottom" id="aboutme">
    <div class="parts left ">
        <div>
            <h2>About me</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere nostrum quo, ipsa quasi nisi architecto deleniti rem, maxime quod aut, alias fugiat eum et itaque consectetur quas nesciunt. Labore, temporibus.</p>
        </div>
        <div>
            <a href="#" [routerLink]="['about-me']">
                <p>More about me</p>
            </a>
        </div>
    </div>
    <div class="parts bg-pic"></div>
    <!-- <div class="parts bg-pic"><img src="assets/image/ME/Me1.jpeg" alt=""></div> -->
</div>