<div class="midsection padding margin_topbot border_bottom" id="aboutme">
    <div class="parts left ">
        <div>
            <h2>About me</h2>
            <p>I am a German speaking Web Developer with experience in building web apps with JavaScript & Angular. Currently my main stack is focused on front-end technologies. My future goal is, to become a full-stack or fulltime back-end developer with
                a specialisation in IT-Security. To achieve this I am already in progress with learning back-end technologies. I am curious to to explore new topics and to get a deeper understanding.
            </p>
        </div>
        <div>
            <a href="#" [routerLink]="['about-me']" (click)="scrollToTop()">
                <p>More about me</p>
            </a>
        </div>
    </div>
    <div class="parts bg-pic"></div>
</div>