.whole {
    height: 700px;
    //width: 80%;
    background-color: white;
    margin-top: 48px;
    margin-bottom: 48px;
    .cardtop {
        height: 70%;
    }
    .cardbottom {
        height: 30%;
        background-color: grey;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}