.projects {
    display: flex;
    justify-content: space-between;
    .sides {
        width: 45%;
    }
    .endpart {
        display: flex;
        justify-content: left;
        align-items: center;
        justify-content: center;
        height: 150px;
        h2 {
            margin: 0;
        }
        button {
            border: none;
            background-color: var(--Primary);
            color: var(--white);
            width: 40%;
            height: 48px;
            font-family: 'Sen', sen-regular, latin;
            transition: all 0.5s ease-in-out;
            &:hover {
                cursor: pointer;
                transform: scale(1.2);
                box-shadow: 0px 0px 10px 10px var(--Hover);
                background-color: var(--Hover);
            }
        }
    }
}

@media (max-width: 900px) {
    .projects {
        flex-direction: column;
        text-align: center;
        .sides {
            width: 100%;
        }
    }
}

@media (max-width: 450px) {
    .projects {
        flex-direction: column;
        text-align: center;
        .sides {
            width: 100%;
        }
    }
}