<div class="contact-me padding margin_topbot">
    <div class="parts top text">
        <h2 class="textglow">Contact Me</h2>
        <div>
            <p class="text">To get in touch and explore our common opportunities, <br> just use this form to contact me. <br> You can also just write a mail directly to <br> <a href="mailto:contact@joshua-herrmann.de">contact@joshua-herrmann.de</a>
            </p>
        </div>
    </div>
    <div class="parts top form">
        <form action="https://formsubmit.co/contact@joshua-herrmann.de" method="POST">
            <div>
                <p>Name</p>
                <input type="text" id="Name" name="name" autocomplete="off" required>
            </div>
            <div>
                <p>Email</p>
                <input type="email" id="Email" name="email" autocomplete="off" required>
            </div>
            <div>
                <p>Request</p>
                <textarea name="" id="" cols="30" rows="10" name="message" autocomplete="off" required></textarea>
            </div>
            <div>
                <button type="submit">Lets get started</button>
            </div>
            <input type="hidden" name="_next" value="https://joshua-herrmann.de">
            <input type="hidden" name="_subject" value="New email from portfolio!">
            <input type="hidden" name="_captcha" value="false">
        </form>
    </div>
</div>