<div class="contact-me padding margin_topbot">
    <div class="parts top">
        <h2>Contact Me</h2>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, perferendis! Explicabo, voluptates numquam impedit laboriosam ipsam aliquid iure veniam expedita, magnam perspiciatis aliquam temporibus qui molestiae! Nobis enim reprehenderit
                est?
            </p>
        </div>
    </div>
    <div class="parts top">
        <div>
            <p>Name</p>
            <input type="text" id="Name" autocomplete="off">
        </div>
        <div>
            <p>Email</p>
            <input type="text" id="Email" autocomplete="off">
        </div>
        <div>
            <p> Message</p>
            <textarea name="" id="" cols="30" rows="10" autocomplete="off"></textarea>
        </div>
        <div>
            <button>Lets get started</button>
        </div>
    </div>
</div>