<div class="contact-me padding margin_topbot">
    <div class="parts top">
        <h2 class="textglow">Contact Me</h2>
        <div>
            <p>Since you already know me kinda well as Developer, do the next step and contact me! Simply complete the formular with your <mark>Name</mark>, <mark>Email</mark> and your <mark>Request</mark>. I would be happy to work with you! <br> <br> Otherwise
                you can just send me an E-Mail directly via <a href="mailto:joshua.herrmann1@web.de">Joshua.Herrmann1@web.de</a>!
            </p>
        </div>
    </div>
    <div class="parts top form">
        <div>
            <p>Name</p>
            <input type="text" id="Name" autocomplete="off">
        </div>
        <div>
            <p>Email</p>
            <input type="text" id="Email" autocomplete="off">
        </div>
        <div>
            <p>Request</p>
            <textarea name="" id="" cols="30" rows="10" autocomplete="off"></textarea>
        </div>
        <div>
            <button>Lets get started</button>
        </div>
    </div>
</div>