<div class="work-experience padding">
    <label for="header">WORK EXPERIENCE</label>
    <h2 id="header">Companies i hve worked for in the past.</h2>
    <div class="companies">
        <div class="company">
            <div>01</div>
            <div>
                <h3> <mark id="google">Google</mark>, Software Engineer</h3>
            </div>
            <div>I currently am the lead dsigner on the onteraction dsign team for Google Play.</div>
        </div>
        <div class="company">
            <div>01</div>
            <div>
                <h3> <mark id="facebook">Google</mark>, Software Engineer</h3>
            </div>
            <div>I currently am the lead dsigner on the onteraction dsign team for Google Play.</div>
        </div>
        <div class="company">
            <div>01</div>
            <div>
                <h3> <mark id="instagram">Google</mark>, Software Engineer</h3>
            </div>
            <div>I currently am the lead dsigner on the onteraction dsign team for Google Play.</div>
        </div>
    </div>
</div>