.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: var(--BaseBright);
    opacity: 0.8;
    z-index: 1;
    .logo{
        a{
            text-decoration: none;
            color: var(--grey_white);
            &:hover{
                color: var(--Hover);
            }
        }
    }
    h2 {
        cursor: pointer;
    }
    .nav {
        display: flex;
        height: 100%;
        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
            margin-right: 8px;
            height: 100%;
            width: 100px;
            &:hover {
                background-color: var(--Hover);
                a {
                    color: var(--white);
                }
            }
            a {
                text-decoration: none;
                color: var(--grey_white);
            }
        }
    }
    &:hover {
        opacity: 1.0;
    }
}