.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    opacity: 0.8;
    z-index: 3;
    .logo {
        a {
            text-decoration: none;
            color: var(--grey_white);
            &:hover {
                color: var(--Primary);
            }
        }
    }
    h2 {
        &:hover {
            background-image: linear-gradient(90deg, #5221E6, #D18CFF, #7E46FF, #A868FF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        cursor: pointer;
    }
    .nav {
        display: flex;
        height: 100%;
        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
            margin-right: 8px;
            height: 100%;
            width: 100px;
            &:hover {
                //background-color: var(--Primary);
                background-image: radial-gradient( #5221E6, #D18CFF);
                a {
                    color: var(--white);
                    transform: scale(1.1);
                }
            }
            a {
                text-decoration: none;
                color: var(--grey_white);
            }
        }
    }
    &:hover {
        opacity: 1.0;
        background-color: var(--BaseBright);
        box-shadow: 0 4px 2px -2px var(--BaseBrightShadow);
    }
}