.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    opacity: 0.8;
    z-index: 3;
    .logo {
        a {
            text-decoration: none;
            color: var(--grey_white);
            &:hover {
                color: var(--Primary);
            }
        }
    }
    h2 {
        &:hover {
            background-image: linear-gradient(180deg, #5221E6, #D18CFF, #7E46FF, #A868FF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        cursor: pointer;
    }
    .nav {
        display: flex;
        height: 100%;
        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
            margin-right: 8px;
            height: 100%;
            width: 100px;
            &:hover {
                background-color: var(--BaseBrightShadow);
                a {
                    color: var(--white);
                    transform: scale(1.1);
                }
            }
            a {
                text-decoration: none;
                color: var(--grey_white);
            }
        }
    }
    &:hover {
        opacity: 1.0;
        background-color: var(--BaseBright);
        box-shadow: 0 4px 2px -2px var(--BaseBrightShadow);
    }
    // mobil
    .dropdown {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
            background-color: transparent;
            border: none;
        }
    }
}

// mobil menu
.links {
    display: none;
    position: sticky;
    top: 20px;
    left: 20px;
    background-color: var(--BaseBright);
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    border: 1px solid var(--Base);
    button {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 10%;
        height: auto;
        display: flex;
        background-color: transparent;
        border: none;
    }
    a {
        font-size: 32px;
        text-decoration: none;
        color: var(--white);
        background-color: var(--BaseBrightShadow);
        padding: 20px;
        width: 50%;
        text-align: center;
        border: 1px solid var(--Base);
        box-shadow: 0px 0px 15px var(--BaseBrightShadow);
    }
}

.display {
    display: flex;
}

@media(max-width: 900px) {
    .header {
        background-color: var(--BaseBright);
    }
}

@media (max-width: 450px) {
    .dropdown {
        display: flex !important;
    }
    .nav {
        display: none !important;
    }
}

.mat-icon {
    color: rgba(255, 255, 255, 1) !important;
}