<div class="skills padding">
    <div class="part1">
        <h2>Skills</h2><br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque debitis inventore, dicta ab cum quam, deserunt quod quis eveniet quidem maxime vitae id doloremque excepturi fugiat explicabo voluptatibus blanditiis? Labore?</p>
    </div>
    <div class="part2">
        <app-skill-template></app-skill-template>
        <app-skill-template></app-skill-template>
        <app-skill-template></app-skill-template>
        <app-skill-template></app-skill-template>
    </div>

</div>