<div class="skills padding margin_topbot border_bottom">
    <div class="part1">
        <h2 class="textglow">Skillset</h2><br>
        <p> Until now my current main stack is based on front-end technologies. I started building my projects with HTML, CSS and JS. Nowadays I am mainly using Angular as framework. That´s where I also learned to use Typescript and SCSS. I am already on
            it to get experience in back-end technologies. I already worked with Google Firebase, Databases and APIs.</p>
    </div>
    <div class="part2">
        <app-skill-template *ngFor="let skill of skills, let i = index" skilljson="{{skillsToText(i)}}"></app-skill-template>
    </div>
</div>