<div class="introduction padding margin_topbot ">
    <div class="text">
        <h2 class="textglow">I am Joshua Herrmann, <br> a German based <br> Front-End Developer.</h2>
        <h3>"Programming isn't about what you know, <br> it's about what you can figure out.”</h3>
        <p> I enjoy writing code and solving problems! <br> As a web developer my main experience lies in building front ends for web application. <br> I am curious to explore new topics and get a deeper understanding. </p>
    </div>
    <div class="pic"></div>
    <div class="bg"></div>
</div>