.Mainpage {
    width: calc(100vw - 148px);
    max-width: 1920px;
    padding-left: 72px;
    padding-right: 72px;
    /*  padding-top: 40px;
    padding-bottom: 40px; */
    //
    color: var(--white);
}